# EXPLAINER NOTEBOOK
This notebook refers to several documents in the affiliated [Github repository](https://github.com/Alex-Nielsen-manden/Alex-Nielsen-manden.github.io).<br>
The related website may be accesed [here](https://alex-nielsen-manden.github.io/).
***

#### Group ??
- Alex Nielsen (s203773)
- Johan Lindbjerg Skovbæk (s203801)
- Svend Blicher Dalgaard Jørgensen (s203792)

#### Date
11/05/2025
***

## 1. Motivation
The seed of the idea was planted at around December, as the team was about to saturate the amount of the mandatory and semi-elective courses they were required to take. The next natural step would before finding elective courses be the master thesis was due, but this was surprisingly difficult. For some reason the best approach to finding elective courses is asking around and searching for random keywords on the course base. Clearly, there was a gap to be filled. Thus, the idea of creating a mean of help to finding suitable elective courses of high quality began sprouting. <br>

We decided to limit the scope a bit by solely focusing on our own education Msc. Design & Innovation, in order to not spend an unreasonable amount of time on cleaning data. This could have been a simple list of recommendable electives, but with the power of data visualization, something much more explorative has emerged.
***

## 2. Basic stats
### Obtaining data
Initially, it was clear that we needed to get our hands on some data that was not available to us. So after some back and forth to the IT Department at DTU, we got our hands on evaluation data from 2020-2024, and a list of courses passed courses by D&I students during the same semesters. Ultimately, this would be the list to sort from, since there was an abundance of data in the evaluation data. See df_DI and df_eval below to inspect the raw data <br> 
Initially, the idea had been to utilize D&I specific grades and evaluations to get the most relevant data to this specific studyline. However, the IT department was not availble to deliver studyline specific evaluation data to us, and as seen in df_DI the vast majority of data grade and attendence data is anonymized, since many of the courses have only been attended by <=5 D&I Msc. students. Due to these unforeseen circumstances, we decided to scrape the [DTU Course base](https://kurser.dtu.dk/) for average grades and amount of passed students in general. Haven limited the scope definitely payed off since this process required a lot trial and, not to mention waiting for the script to load hundreds of websites (see the data load script in "Data load/Data load.ipynb")

In [6]:
import pandas as pd
df_DI = pd.read_excel("Data load/DI_courses_2020-24.xlsx")
df_DI

,Termin,Akt.Kode,Langtnavn,antal_beståede,gennemsnitskarakter
0,E19,02266,02266 User experience engineering,14,11.4285714285714
1,E19,02633,02633 Introduktion til programmering og databe...,<= 5 personer,<= 5 personer
2,E19,S01-10-1,Specialkursus ved Institut for Matematik og Co...,<= 5 personer,<= 5 personer
3,E20,02266,02266 User experience engineering,13,10.1538461538462
4,E20,02393,02393 Programmering i C++,<= 5 personer,<= 5 personer
...,...,...,...,...,...
611,F25,S41-02-1,Specialkursus ved Institut for Byggeri og Meka...,<= 5 personer,<= 5 personer
612,F25,S41-05-3,Specialkursus ved Institut for Byggeri og Meka...,<= 5 personer,<= 5 personer
613,F25,S41-05-4,Specialkursus ved Institut for Byggeri og Meka...,<= 5 personer,<= 5 personer
614,F25,S41-10-1,Specialkursus ved Institut for Byggeri og Meka...,<= 5 personer,<= 5 personer
615,F25,S42-10-1,"Specialkursus ved Institut for Teknologi, Lede...",<= 5 personer,<= 5 personer

In [7]:
df_eval = pd.read_excel("Data load/Evaluations/E21-13.xlsx")
df_eval

,kursusnummer,kursusnavn,svarprocent_antal_personer_som_har_svaret_i_forhold_til_dem_der_kunne_svare,jeg_har_laert_meget_i_dette_kursus_1_1_inkluderet,jeg_har_laert_meget_i_dette_kursus_1_1_helt_uenig,jeg_har_laert_meget_i_dette_kursus_1_1_uenig,jeg_har_laert_meget_i_dette_kursus_1_1_hverken_eller,jeg_har_laert_meget_i_dette_kursus_1_1_enig,jeg_har_laert_meget_i_dette_kursus_1_1_helt_enig,jeg_har_laert_meget_i_dette_kursus_1_1_gennemsnit,...,det_generelt_har_vaeret_klart_for_mig_hvad_der_forventes_af_mig_i_ovelser_projektarbejde_og_lignende_1_5_enig,det_generelt_har_vaeret_klart_for_mig_hvad_der_forventes_af_mig_i_ovelser_projektarbejde_og_lignende_1_5_helt_enig,det_generelt_har_vaeret_klart_for_mig_hvad_der_forventes_af_mig_i_ovelser_projektarbejde_og_lignende_1_5_gennemsnit,x5_ects_point_er_normeret_til_9_arbejdstimer_uge_i_13_ugersperioden_45_arbejdstimer_uge_i_treugers_perioden_jeg_mener_at_den_tid_jeg_har_brugt_pa_kurset_er_2_1_inkluderet,x5_ects_point_er_normeret_til_9_arbejdstimer_uge_i_13_ugersperioden_45_arbejdstimer_uge_i_treugers_perioden_jeg_mener_at_den_tid_jeg_har_brugt_pa_kurset_er_2_1_meget_mindre,x5_ects_point_er_normeret_til_9_arbejdstimer_uge_i_13_ugersperioden_45_arbejdstimer_uge_i_treugers_perioden_jeg_mener_at_den_tid_jeg_har_brugt_pa_kurset_er_2_1_noget_mindre,x5_ects_point_er_normeret_til_9_arbejdstimer_uge_i_13_ugersperioden_45_arbejdstimer_uge_i_treugers_perioden_jeg_mener_at_den_tid_jeg_har_brugt_pa_kurset_er_2_1_det_samme,x5_ects_point_er_normeret_til_9_arbejdstimer_uge_i_13_ugersperioden_45_arbejdstimer_uge_i_treugers_perioden_jeg_mener_at_den_tid_jeg_har_brugt_pa_kurset_er_2_1_noget_mere,x5_ects_point_er_normeret_til_9_arbejdstimer_uge_i_13_ugersperioden_45_arbejdstimer_uge_i_treugers_perioden_jeg_mener_at_den_tid_jeg_har_brugt_pa_kurset_er_2_1_meget_mere,x5_ects_point_er_normeret_til_9_arbejdstimer_uge_i_13_ugersperioden_45_arbejdstimer_uge_i_treugers_perioden_jeg_mener_at_den_tid_jeg_har_brugt_pa_kurset_er_2_1_gennemsnit
0,01017,01017 Diskret matematik E21,55,Ja,NaN,NaN,NaN,NaN,NaN,4.2,...,NaN,NaN,3.9,Ja,NaN,NaN,NaN,NaN,NaN,3.1
1,01018,01018 Diskret matematik 2: algebra E21,47,Ja,NaN,NaN,NaN,NaN,NaN,4.4,...,NaN,NaN,4.2,Ja,NaN,NaN,NaN,NaN,NaN,3.0
2,01019,01019 Diskret matematik E21,39,Ja,NaN,NaN,NaN,NaN,NaN,4.4,...,NaN,NaN,4.2,Ja,NaN,NaN,NaN,NaN,NaN,3.1
3,01025,01025 Matematik 2 for Matematik og Teknologi E21,46,Ja,NaN,NaN,NaN,NaN,NaN,4.7,...,NaN,NaN,4.6,Ja,NaN,NaN,NaN,NaN,NaN,3.5
4,01034,01034 Matematik 2 E21,35,Ja,NaN,NaN,NaN,NaN,NaN,4.4,...,NaN,NaN,4.3,Ja,NaN,NaN,NaN,NaN,NaN,3.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
611,62799,62799 Geometriske operationer i plan og rum E21,50,Ja,NaN,NaN,NaN,NaN,NaN,4.1,...,NaN,NaN,3.9,Ja,NaN,NaN,NaN,NaN,NaN,3.5
612,62908,62908 Teknologi i samspil med mennesker E21,70,Ja,NaN,NaN,NaN,NaN,NaN,3.2,...,NaN,NaN,2.9,Ja,NaN,NaN,NaN,NaN,NaN,3.6
613,62999,62999 Innovation Pilot E21,39,Ja,NaN,NaN,NaN,NaN,NaN,2.5,...,NaN,NaN,3.2,Ja,NaN,NaN,NaN,NaN,NaN,2.8
614,KU010,KU010 Bevægeapparatets Biomekanik E21,11,Ja,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,4.4,Ja,NaN,NaN,NaN,NaN,NaN,2.6
615,KU105,KU105 Videregående fysiologisk modellering E21,20,Ja,NaN,NaN,NaN,NaN,NaN,4.5,...,NaN,NaN,4.0,Ja,NaN,NaN,NaN,NaN,NaN,4.0

### Stats
After having filtered the applicable course data out of the 26 evaluation data sheets and scraped the [DTU Course base](https://kurser.dtu.dk/) for additional values that suited df_DI, we ended up having a nice 411 rows x 17 columns dataframe (see df below), which required fairly limited processing. There were a couple of minor mistakes in the wording of course names and missing evaluation values, but a part from that it was quite accesible, once the hurdle of obtaining the data was passed.

In [9]:
df = pd.read_excel("Data load/DataFrame.xlsx")
df

,Course code,Course name,Semester,Level,ECTS,Course type,Passed DI students,Passed students,Average grade,Placement,URL,Eval_1.1,Eval_1.2,Eval_1.3,Eval_1.4,Eval_1.5,Eval_2.1
0,2266,User Experience Engineering,Fall 2019,MSc,5,Semi-Elective,14,118.0,9.7,January,https://kurser.dtu.dk/course/02266,NaN,NaN,NaN,NaN,NaN,NaN
1,2633,Introduction to programming and data processing,Fall 2019,BSc,5,Elective,<=5,220.0,6.2,January,https://kurser.dtu.dk/course/02633,NaN,NaN,NaN,NaN,NaN,NaN
2,2266,User Experience Engineering,Fall 2020,MSc,5,Semi-Elective,13,122.0,10.1,January,https://kurser.dtu.dk/course/02266,4.2,4.7,4.5,4.6,4.4,3.7
3,2393,Programming in C++,Fall 2020,MSc,5,Elective,<=5,187.0,Pass/Non-Pass,Fall,https://kurser.dtu.dk/course/02393,4.0,4.4,4.1,3.8,4.3,2.9
4,2450,Introduction to Machine Learning and Data Mining,Fall 2020,BSc,5,Elective,<=5,550.0,5.5,Fall,https://kurser.dtu.dk/course/02450,4.1,4.0,3.5,3.7,3.7,3.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406,42505,Facilitating Innovation in Multidisciplinary T...,Spring 2024,MSc,5,Mandatory,18,71.0,Pass/Non-Pass,August,https://kurser.dtu.dk/course/42505,3.0,3.4,2.8,4.1,3.6,3.2
407,42543,Management of organizational change,Spring 2024,MSc,5,Elective,28,323.0,8.5,Spring,https://kurser.dtu.dk/course/42543,3.0,3.7,2.7,3.3,2.9,2.9
408,46797,"Formula Student Electric: implementation, test...",Spring 2024,BSc,5,Elective,<=5,6.0,Pass/Non-Pass,Spring,https://kurser.dtu.dk/course/46797,4.7,4.7,5.0,4.7,4.3,4.0
409,63851,Project Management,Spring 2024,MSc,5,Semi-Elective,13,156.0,9,August,https://kurser.dtu.dk/course/63851,4.4,4.4,4.1,4.3,4.0,3.7
410,88383,Academic Information Retrieval,Spring 2024,MSc,"2,5",Elective,<=5,21.0,Pass/Non-Pass,June,https://kurser.dtu.dk/course/88383,5.0,5.0,5.0,5.0,5.0,3.0

***
## 3. Data Analysis

***
## 4. Genre
When thinking about this project, we were very interested in creating an interactive tool that could help students explore and compare courses. However, as we began developing the concept, it became clear that to meet the course requirements, we also needed to embed a narrative component into the experience. 

The Martini Glass structure offered an ideal solution. This genre begins with an author-driven narrative that guides the user through key findings and insights, before opening up into a reader-driven phase that encourages free exploration. This approach allowed us to maintain the interactivity we valued, while also shaping a story around the data.

We implemented this structure by dividing our website into two pages: a narrative page and a course tool. Users are free to skip directly to the tool, but our hope is that they begin with the narrative. This first page walks them through five years of course data from the Design and Innovation program at DTU, highlighting patterns in grades, course popularity, and curriculum changes. After gaining this context, readers can then proceed to the tool with a clearer sense of what to look for

***
## 5. Visualizations
The website is divided into two pages with different visualizations that will be adressed in the following sections.
<br>All visualizations have been made in "Final Project B.ipynb" in the folder "Data load", but are displayed on both the website and below in this notebook. If you would like to inspect the code, do open the mentioned notebook.

### Narrative part
This analysis explores course enrollment, average grades, and student evaluations for MSc Design and Innovation students at DTU from 2020–2024. It begins by tracking how average grades have changed over time, highlighting a spike during the COVID-19 lockdown period. The analysis then narrows in on elective courses, revealing that students tend to perform slightly worse in electives compared to core courses. Electives are grouped into ten categories to assess differences in grades, popularity, and student satisfaction. A key insight is the 2023 curriculum restructuring, which shifted many popular electives—like Design for People and Holistic Design—into mandatory or semi-elective status. This change explains the sharp decline in elective course enrollment in 2024 and suggests the updated curriculum is better aligned with student interests.

### Tool part
The two visualization below are interactive tools that visualize both all courses taken by D&I innovation students during the last 5 years, and secondarily only those that fall into the category being semi-elective courses. <br>
These tools allow D&I Msc. students to filter between relevant learning categories, that may be fitted to their own interests. The data points are displayed between the two axes that provide information on how well the individual course has scored in evaluations (y-axis), and how many D&I Msc. students have attended the course (the last time someone took it), which would indicate whether a course is somewhat relevant or passable for this studyline. However, a course might still be quite relevant if a students interests diverge from the norm. Once the a course is clicked, it will show additional data that can help the student access whether this course would be relevant to them.

In [15]:
from IPython.display import IFrame
IFrame(src="Data load/Evaluation_plot.html", width=1000, height=930)

In [16]:
IFrame(src="Data load/Semi-Elective_Evaluation_plot.html", width=1000, height=930)

***
## 6. Discussion
### What went well

### Limitations of the tools
- Each course has only been put into a single category in order to enable the filtering with the legend. However, it is likely that a course may fall into multiple categories, and will be overlooked. The best practice would be aggreeing on the some relevant categories with the education leader. Another approach could be allowing multiple categories to be assigned to a course, and figure out a solution from that.
- In order to calculate the fraction of D&I Msc. students in a course, we had to set the anonymized data regarding the amount of D&I Msc. students in a course from <=5 to 5.0. So for many of the courses with a low amount of students, it is likely that the amount of D&I Msc. students will appear higher than in reality.
- Some of the courses in the dataset appear to be outdated courses that are either not taught anymore or consolidated into other courses.

### Further work
From the few people who have seen the website, and the talks we have had with our education leader Josef Oehmen, it is evident that it is a very strong tool that can both be applied to other educations, and incoorporated into official websites. That might just be what happens to the soon to be launched Design & Innovation education website.

***
## 7. Contribution
The work has been distributed between the three group members in the following manner:
- **Alex Nielsen, (s203773)**: was in charge of setting up the website and managing Github, creating learning categories of the courses.
- **Johan Lindbjerg Skovbæk (s203801)**: was in charge of obtaining data from the DTU IT department, scraping [DTU Course base](https://kurser.dtu.dk/) for additional data, managing said data with the help of Alex, and ultimately creating the two interactive tool plots (see section 5, Tool).
- **Svend Blicher Dalgaard Jørgensen (s203792)**: was in charge of the narrative page